@tailwind base;
@tailwind components;

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    src: local('Montserrat-Bold'), url(./fonts/Montserrat-Bold.woff2) format('woff2');
    src: local('Montserrat-Regular'), url(./fonts/Montserrat-Regular.woff2) format('woff2');
  }

@tailwind utilities;

@layer base {
    body {
      font-family: "Montserrat", sans-serif;
      text-rendering: optimizeLegibility;
    }
  }

@layer components {
    .container {
        @apply max-w-[1080px]
    }
}

.deliver-title {
    font-size: 3rem;
    line-height: 3.688rem;
}

.store-btn {
    padding-top: 9.9px;
    padding-right: 43.44px;
    padding-bottom: 9.53px;
    padding-left: 43.14px;
    background: rgba(13, 8, 32, 0.98);
    border-radius: 8px;
    color: #FFFFFF;
}

.deliverin-text {
    color: rgba(13, 8, 32, 0.8);
    mix-blend-mode: normal;
    opacity: 0.8;
    letter-spacing: 0.1px;
    width: 527px;
}